<!-- gallery.component.html -->
<div class="container mt-5">
    <h2>Image Gallery</h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <img class="img-fluid" src="https://cdn.pixabay.com/photo/2018/01/12/10/19/fantasy-3077928_640.jpg" alt="">
      </div>
      <div class="col-md-4 text-center">
        <img class="img-fluid" src="https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      </div>
      <div class="col-md-4 text-center">
        <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2z9ct-yVeUUsg5QSI8PBm4bfkJ86cTzoeSA&usqp=CAU" alt="">
      </div>
    </div>
  </div>
  